.bg-custom-blue {
    background: linear-gradient(
      177deg,
      rgba(48, 38, 113, 1) 0%,
      rgba(89, 146, 192, 1) 75%
    );
    color: white !important;
  }


  .footer-list li a{ 
    color: #ffffff !important;
  }
  
  .footer-social-media-parent a {
    display: inline-flex;
    margin: 3px;
  }