/* Root font size for rem scaling */
html {
  font-size: calc((1vw + 1vh) / 2);
}

.bg-primary,
.btn-primary {
  background: linear-gradient(
    0deg,
    rgba(43, 38, 113, 1) 0%,
    rgba(89, 146, 192, 1) 100%
  ) !important;
  border: none;
}

img {
  width: 100%;
  height: auto;
}

.box-shadow-1rem {
  box-shadow: 0 0 1rem rgb(80, 80, 80);
}
.box-shadow-2rem {
  box-shadow: 0 0 2rem rgb(80, 80, 80);
}
.box-shadow-3rem {
  box-shadow: 0 0 3rem rgb(80, 80, 80);
}
.box-shadow-4rem {
  box-shadow: 0 0 4rem rgb(80, 80, 80);
}
.box-shadow-5rem {
  box-shadow: 0 0 5rem rgb(80, 80, 80);
}

.carousel-item img {
  padding: 0.125rem; /* Responsive scaling with rem */
}

.carousel-caption .no-image-carousel {
  color: black;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
}

.left-car-image {
  height: 80vh; /* Responsive with viewport height */
}

.image-aspect {
  height: 40vh;
}

.cards-index {
  background: linear-gradient(
    0deg,
    rgba(43, 38, 113, 1) 0%,
    rgba(89, 146, 192, 1) 100%
  );
  height: 20rem; /* Maintain consistent height */
  color: #ffffff;
  padding: 1rem;
}

.services-card-index:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

.cards-index:hover {
  background: radial-gradient(at bottom left, #00baef 0%, #00baef 100%);
}

.cards-index .roboto-regular {
  font-family: "Roboto", serif;
  font-size: 2rem; /* Typography responsiveness */
  font-weight: 600;
  color: #ffffff;
  margin: 0.4375rem 0;
}

.services-png {
  height: 3rem;
  width: auto;
}

/* .why-section-img {
  width: 30rem;
  height: auto;
} */

.roboto-regular-text-2rem {
  font-family: "Roboto", serif;
  font-size: 2rem;
}

.roboto-regular-text-3rem {
  font-family: "Roboto", serif;
  font-size: 3rem;
}

.roboto-regular-text-1rem {
  font-family: "Roboto", serif;
  font-size: 1.3rem;
}

.list-group-item {
  margin: 0;
  padding: 0;
  position: relative;
  border: none;
}

.list-group {
  list-style: none;
  padding: 0;
}

.list-group-item::after {
  content: "•";
  position: absolute;
  right: -1rem;
}

.bg-custom-blue {
  background: linear-gradient(
    177deg,
    rgba(48, 38, 113, 1) 0%,
    rgba(89, 146, 192, 1) 75%
  );
}

.custom-image img {
  aspect-ratio: 5/3;
}

.custom-image.card {
  background-color: transparent !important;
}

.custom-image .card-body {
  background: linear-gradient(
    177deg,
    rgba(48, 38, 113, 1) 0%,
    rgba(89, 146, 192, 1) 75%
  );
  aspect-ratio: 5/3;
}

.custom-image:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

#leftCarousel .carousel-item::after,
#topRightCarousel .carousel-item::after,
#bottomRightCarousel .carousel-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.733), #ffffff);
  opacity: 0.5; /* Adjust transparency */
  z-index: 1;
}

#leftCarousel .carousel-item img,
#topRightCarousel .carousel-item img,
#bottomRightCarousel .carousel-item img {
  position: relative;
  z-index: 0;
}

.item-z-index {
  z-index: 1000;
}

.customer-para {
  font-size: 1.25rem; /* Typography with rem */
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0;
  word-spacing: 0.125rem;
}

.news-insights .card:hover {
  background: linear-gradient(
    177deg,
    rgba(48, 38, 113, 1) 0%,
    rgba(89, 146, 192, 1) 75%
  );
  color: #fff;
  transition: all 0.1s ease-in;
}

.new_insights img {
  aspect-ratio: 5/3;
}
